*{
    padding: 0;
    margin:0;
}
:root{
    --primaryColor:#006A50;
}


body{
    min-width: 100vh;
}

section{
    max-width: 80%;
    margin: 0 auto;
}

img{
    width: 100%;
}



/* nav section style */


.nav-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    margin-bottom: 20px;
}

.nav-section h2{
    font-size: 32px;
    font-weight: bold;
}

.nav-section .btn{
    border: 2px solid var(--primaryColor);
    border-radius: 8px;
    background-color: white;
    color: var(--primaryColor);
    font-size: 18px;
    font-weight: 600;
    padding: 15px 30px;
}

/* shared style */

.btn1{
    background-color: var(--primaryColor);
    border-radius: 8px;
    border: 2px solid transparent;
    color: white;
    font-size: 18px;
    font-weight:500;
    padding: 17px 34px;
    transition: transform 0.3s ease-out, background-color 0.3s  ease, border 0.3s ease, color 0.3s ease;
    cursor: pointer;
    
}

.btn1:hover{
    background-color: white;
    border: 2px solid var(--primaryColor);
    color: var(--primaryColor);
    /* color: rebeccapurple; */
}


/* hero  section  style */

.hero-section{

}

.hero-container{
    align-items:center;
    background-color: #C6E4D6;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 80px 60px;
    
}
.hero-content{

    max-width: 70%;
    /* margin-right: 200px; */
}

.hero-container .hero-imag{
    max-width: 30%;
}

.hero-content h6{
    color: #0E0E0E;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 16px;
}
.hero-content h2{
    color: #0E0E0E;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 24px;
    
}

.hero-content {

}




